.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #61dafb;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  background-color: gold;
}
li {
  list-style-type: none;
  font-size: 22px;
  font-weight: bold;
  color: black;
  background-color: gold;
}
li:hover {
  background-color: red;
  color: whitesmoke;
  border-radius: 20px;
}
.nav-link {
  text-decoration: none;
}
.btn-success {
  padding: 15px;
  border-radius: 10px;
  width: 25%;
  font-size: 20px;
  background-color: aqua;
  color: brown;
  font-weight: bold;
  float: right;
}
.table {
  width: 80%;
  padding: 10%;
  /* border: 2px solid black; */
}
th{
  border: 3px solid red;
  padding: 3%;
  width: 10%;
  background-color: blue;
  color: white;
}
td {
  border: 2px solid black;
  padding: 2%;
  width: 10%;
  background-color: aquamarine;
}
.btn-dark {
  background-color: brown;
  color: chartreuse;
  font-weight: bold;
  border-radius: 10px;
}
